<h1>Editing rails tip</h1>

<%= render "form", rails_tip: @rails_tip %>

<br>

<div>
  <%= link_to "Show this rails tip", @rails_tip %> |
  <%= link_to "Back to rails tips", rails_tips_path %>
</div>
