<p style="color: green"><%= notice %></p>

<h1>Ruby tips</h1>

<div id="ruby_tips">
  <% @ruby_tips.each do |ruby_tip| %>
    <%= render ruby_tip %>
    <p>
      <%= link_to "Show this Ruby tip", ruby_tip %>
    </p>
  <% end %>
</div>

<% if Current.user %>
  <%= link_to "New Ruby tip", new_ruby_tip_path %>
<% end %>